*{     /* esto sirve para tipo resetear las config*/
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;    
}

body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between; /*para que se separen entre los div*/
    height: 63px;  /*ancho de cuadrado*/
    position: fixed; /*para dejarlo pegado al momento de bajar*/
    width: 100%;
    z-index: 100; /*para que predomine mas que los demas*/
}

.navbar{
    display: flex;
    margin-right: 10px; /*espacio de la derecha*/
}
.navbar a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px 10px;  /*esto es para darle espacio a la izq y derech*/
    text-decoration: none;
    font-size: 14px;
}
.navbar a:hover{ /*el hover es cuando el usuario interactua sobre las cosas*/
    background-color: rgb(88, 88, 88);
}

.logo img{  /*para editar el recuadro*/
    height: 4rem;
    width: 5rem;
    margin-left: 10px;

}

.logo a{   /*solo para editar la letra*/
    color: white;
    text-decoration: none;
    text-transform: uppercase; /*para colocarlo en mayuscula*/
    font-size: 20px;  /*tamaño de la letra*/
}

.header{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 100vh !important; /*el alto*/
    /*el background es para trabajar el fondo*/
    background: url(/img/pexels-andrew-neel-2312369.jpg)no-repeat center ;
    background-size: cover;  /* cover para que cubra todo*/
    background-attachment: fixed;  /*para dar efeco a imgen que se queda estati */
}
.title{
    color: white;
    margin: 2rem;
    margin-bottom: 80px; /*bottom margen de abajo*/
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase; /*mayuscula*/
    letter-spacing: 1.2px;  /*espacio entre las letras*/
    text-shadow: 0 0 10px black;
}
p{
    margin: 40px;
    font-size:16px;
    color: rgb(255, 252, 252);
    text-shadow: 0 0 15px black;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 50px;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    background-color: rgb(65, 65, 65);
}

.btn:hover{
    background: none;
}

.btn-home {
    display: flex;  
}
.btn-home a {
    margin: 0 10px;
}

.content{  /*esto es una configuracion de los content en general*/
    height: 50vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    height: 100vh;
    padding: 30px;
    background-color: rgb(87, 87, 87);
}

.sau p{
    
}

.LOGOS i{
    font-size: 2rem;
    color: rgb(255, 255, 255); 
    animation-name: avion;
    animation-duration: 4s;
    animation-timing-function: linear; /*velocidad del movimiento*/
    animation-iteration-count:infinite ; /*duracion*/
    position: relative;
}
@keyframes avion {
    0%  {left: 0; top: 0px;}
    50% {left: 50px; top: 0px;}
    100%{left: 100px; top: 0px;}
    
}


.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*para que, cuadno esté en modo celular se coloque en columna*/
    text-align: center;   
}
.box-container .box{  /*todo lo que tenga box.container y box será afectado*/
    height: 11rem;
    width: 17rem;
    background-color: rgb(41, 41, 41);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgb(0, 0, 5);
    margin: 2rem;
}
.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color:black;
    font-size: 1rem;
    margin: 1rem 0; /*arriba y abajo de 1 rem, izq y derech de 0 */
}

.box-container .box h3{
    font-size: 20px;
    color: white;

    border: 2px solid black;
    
}
.box-container .box p{
    padding: 0 15px;
    margin: 1rem 1rem;
    font-size: 16px; 
}









