*{     /* esto sirve para tipo resetear las config*/
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;    
}

body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between; /*para que se separen entre los div*/
    height: 63px;  /*ancho de cuadrado*/
    position: fixed; /*para dejarlo pegado al momento de bajar*/
    width: 100%;
    z-index: 100; /*para que predomine mas que los demas*/
}

.navbar{
    display: flex;
    margin-right: 10px; /*espacio de la derecha*/
}
.navbar a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px 20px;  /*esto es para darle espacio a la izq y derech*/
    text-decoration: none;
    font-size: 15px;
}
.navbar a:hover{ /*el hover es cuando el usuario interactua sobre las cosas*/
    background-color: rgb(88, 88, 88);
}

.logo{  /*para editar el recuadro*/
    margin-left: 10px;

}

.logo a{   /*solo para editar la letra*/
    color: white;
    text-decoration: none;
    text-transform: uppercase; /*para colocarlo en mayuscula*/
    font-size: 20px;  /*tamaño de la letra*/
}

.header{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 60vh !important; /*el alto*/
    /*el background es para trabajar el fondo*/
    background: url(/img/pexels-adrien-olichon-2387793.jpg)no-repeat center ;
    background-size: cover;  /* cover para que cubra todo*/
}
.title{
    color: white;
    margin-bottom: 40px; /*bottom margen de abajo*/
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}
p{
    margin: 40px;
    font-size:18px;
    color: rgb(255, 252, 252);
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 50px;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    background-color: rgb(65, 65, 65);
}

.btn:hover{
    background: none;
}

.btn-home {
    display: flex;  
}
.btn-home a {
    margin: 0 10px;
}

.content{  /*esto es una configuracion de los content en general*/
    height: 50vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    padding: 30px;
    background-color: rgb(37, 37, 37);
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*para que, cuadno esté en modo celular se coloque en columna*/
    text-align: center;   
}
.box-container .box{  /*todo lo que tenga box.container y box será afectado*/
    height: 11rem;
    width: 17rem;
    background-color: rgb(41, 41, 41);
    text-align: center;
    border-radius: 1rem;

}








